/* -------  General Styles ------- */
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  flex-direction: column;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}
#stay h2{
  font-size: 24px;
  margin: 0 1px 20px 0;
}
h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

/* ---  Images: Groups & Items --- */
#about, #ideas, #host{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#about img, #ideas img, #host img{
  width: 100%;
  flex: 1;
  margin-bottom: 15px;
}


/* -------  Navigation ------- */
header{ 
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}
.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
}
header nav{
  display: flex;
  justify-content: center;
}
header nav ul{
  display: flex;
  padding-left: 0;
  list-style: none;
}
header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}
header nav ul li a:hover {
  color: #00a699;
  text-decoration: underline;
  text-decoration-style: wavy;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}
form .formfields{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: auto;
  margin: 10px;
} 
div{
  display: flex;
  width: 100%;
}
div label{
  flex: 0.5;
  font-weight: bold;
}
div input, div select{
  flex: 1;
  justify-self: end;
  margin-bottom: 20px;
}
form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/* -------  DESKTOP ------- */
@media all and (min-width: 480px){
  body{
    flex-direction: row;
  }
}